.topspace-cates{
  overflow: hidden;
   margin-top: 20px;
    margin-bottom: 20px;
}

.row-cates-content{
  padding: 0px;
    margin: 0 auto;
}
.left-side-nav{
  width: 220px;
  margin-right: 10px;
  position: relative;
  left:9%;
}

/*change class when scroll down*/
ul.main-category{
	font-family:"Khmer OS Battambang",Times New Roman;
  padding:0px;
  background-color:#fff;
  list-style-type: none;
  
}

ul.main-category li{
	
border-bottom: 1px dashed #003666  !important;
}
ul.main-category li.bg-cates {
    font-size: 16px;
    padding: 10px;
    color: #fff;
    background-color: #003666 !important;
}

ul.main-category li:not(first-child){
  padding:10px;
  background-color:#fff;
  
}

ul.main-category li:not(first-child) a{
  text-decoration: none;
  color:#000;
}

/*sub menu  */
ul ul.sub-menus-cates{
  margin-top:10px;
  padding:10px;
  position:relative;
  left:10px;
  color:#000;
  display:none;
  list-style-type: circle;
}

ul ul.sub-menus-cates li{
  margin-bottom:2px;
  border-style: none !important;
}

.left-side-nav, .body-cates, .right-side-cate {
    float: left;
}
/*///////////////////////////*/
/*.right-side-cate{
  width: 285px;
  background-color: #fff;
  position: fixed;
  right: 10%;
}*/
.body-cates{
       width: 860px;
   /*  margin-right: 10px; */
    position: relative;
    -webkit-transition:all 1s ease;
    /* left: 22%; */
   /*  z-index: 5; */
}

