.topspace-cates{
  overflow: hidden;
   margin-top: 20px;
    /*background-color: #fff;*/
  padding-bottom: 10px;
}

.row-nav-left-content{
	padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0px;
    	background-color:white;
}
.left-side-nav{
	width: 205px;
	margin-right: 10px;
	/*fixed*/
	position: fixed;
	left: 10%;
}
ul.left-category{
	padding:0px;
	background-color:#fff;
	list-style-type: none;
}
li.bg-cates{
	width:auto;
	background-color:#3B5998 !important;
	color:#fff;
}
ul.left-category li:first-child {
	color: #fff;
	padding: 10px;
}
.left-side-nav, .body-cates, .right-side-cate {
    float: left;
}
/*///////////////////////////*/
.right-side-cate{
	width: 285px;
	background-color: #fff;
	/*fixed*/
	position: fixed;
	right: 20%;
}
.body-cates{
	     width: 860px;
    margin-right: 10px;
    position: relative;
    left: 22%;
    z-index: 5;
}

