.topspace-cates{
  overflow: hidden;
   margin-top: 20px;
    /*background-color: #fff;*/
  padding-bottom: 10px;
}

.row-nav-left-content{
  padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0px;
      background-color:white;
}
.left-side-nav{
  width: 220px;
  margin-right: 10px;
  /*fixed*/
  position: fixed;
  /*top: 10%;*/
}
/*change class when scroll down*/
ul.left-category{
  padding:0px;
  background-color:#fff;
  list-style-type: none;
}
li.bg-cates{
  width:auto;
  background-color:#3B5998 !important;
  color:#fff;
}
ul.left-category li:first-child {
  text-align: left;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
ul.left-category li:not(:first-child) {
  text-align:left;
  color: #000;
  padding: 10px;
  border-bottom: 1px dashed #3B5998;
}
.left-side-nav, .body-cates, .right-side-cate {
    float: left;
}
/*///////////////////////////*/
/*.right-side-cate{
  width: 285px;
  background-color: #fff;
  position: fixed;
  right: 10%;
}*/
.body-cates{
       width: 860px;
    margin-right: 10px;
    position: relative;
    left: 22%;
    z-index: 5;
}
/*side menu*/

