.topspace-right{
  margin-top: 20px;
  margin-left: 40px;
}
.show-slide-view{
	padding: 0px;
}
.content-slide-view{
	color:white;
 ​ text-align: center;
}
.slide-container{
  height: 400px;
  font-size: 16px;
  text-align: center;
  border-bottom:1px solid #fff;
  margin-bottom:5px;
  padding: 10px 5px 10px 10px;
  background-color:  #3B5998;
}
.detail-slide{
  font-size: 16px;
  text-align: center;
  border-bottom:1px solid #fff;
  margin-bottom:5px;
  padding: 10px 5px 10px 10px;
  background-color:  #3B5998;
}
.commend-visitor{
	font-size: 16px;
  text-align: center;
  border-bottom:1px solid #fff;
  margin-bottom:5px;
  padding: 10px 5px 10px 10px;
  background-color:  #3B5998;
}

/*///////////*/
.show-all-cate{
	padding: 0px;
}
.content-cates{
		color:white;
 ​ text-align: center;
}
.cates-container{
	font-size: 16px;
  text-align: center;
  border-bottom:1px solid #fff;
  margin-bottom:5px;
  padding: 10px 5px 10px 10px;
  background-color:  #3B5998;
}
/*////////////*/
.watch-titles{
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 4px;
  margin: 0px -7px -3px;
  padding: 0px 0px 0px;
  padding-bottom:30px;
  text-align: center;
  text-decoration: none;
  color: #333;
}