/* 
.footer{
	background-color: #374458;
*	position:fixed;
	width: 100%;
	height:50%;
	color:  white;
	margin-top: 30px;
	text-align:justify-all;
} */
.footer{
	background-color: #374458;
	width: 100% !important;
	height:50% !important;
	color:  white;
	margin-top: 30px;
	text-align:left;
	word-wrap:break-word !important;
}
.footer .list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer .list div{
	text-align: justify;
	font-weight: 400;
}
.footer .footer-img img{
	width: 50%;
}
.footer .footer-height{
	background-color: #21252b;
	height: 250px;
}
.footer .center{
	border-top: 1px solid black;
	text-align: center;	
*	background-color: #21252b;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
	margin-top:10px;
}
.footer .copyright{
	border-bottom: 3px solid #3B5998;
}
.footer h3{
	*text-align: center;
}