.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;

  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    padding:0px;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.modal-header
{
	padding:10px 10px 5px 10px;
}

#LoginForm,#SignUpForm,#UploadForm,#searchBox
{
	float:right;
	margin:0px 3px;
	font-size:10px;
	*font-family:Khmer OS Niroth;
	*font-family:NiDA Preahvihear;
}

.navbar-logo img
{
	max-width:50px;


}
#header .top-menu .navbar-logo a
{
	text-decoration:none;
}



