.topspace-profile{
	overflow: hidden;
   margin-top: 20px;
    margin-bottom: 20px;
    min-height:700px;
}
.left-profile{
	background-color: #fff !important;
	    border: 1px solid;
	border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
	float: left;
}
.left-profile > .img-pro img{
	position:relative;
	border:5px solid #fff;
	 border-radius: 160px;
	-webkit-border-radius: 160px;
	-moz-border-radius: 160px;
	left:30px;
	width:150px;
	height:160px;
}
.user-name{
	text-align:center;
	line-height:40px;
	font-size: 14px;
	font-weight: 500;
}
ul.title-profile{
	list-style-type: none;
	text-decoration:none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
}

 li.about a{
	 display: block;
    color:gray;
    padding: 8px 16px;
    text-decoration: none;
}
 li.about a:hover{
  text-decoration: none;
  background:#dee0e3;
	border-left:5px solid #003666;
	color:#000;
}

/*  */


.dashboard-content{
	position:relative;
	left:205px;
}
.preview-all{
	 border: 1px solid;
	border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
	padding:10px;
	width:830px;
	position:relative;
	background-color:#fff;
	padding: 13px 18px;
	margin-right: 1px;
}

#dashboard-header{
	margin:0;
	padding:0;
	list-style-type: none;
}
#dashboard-header .view-value{
   font-weight: 500;
    text-shadow: 0 1px 0 #fff;
    line-height: 1em;
    position:relative;
    color: #555;
    margin: 2px 0 6px;
}

#dashboard-header li{
	font-size: 16px;
    color: #777;
    text-align: center;
    padding: 0 24px;
    border-right: 1px solid #e2e2e2;
    display: inline-block;
}

#content-pdf-ppt-doc{
	margin: 10px auto;
    width: 828px;
    overflow: hidden;
    position: absolute;
   /*  background-color: white; */
    
}
.aboutme{
	width:828px;
	padding:50px;
	 background-color: white;
	 border: 1px solid;
	border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
}
/* .view-pdf{
float: left;
    width: 414px;
    padding-top: 10px;
    padding-left:50px;
    min-height:300px;
    background-color: #fff !important;
    border: 1px solid;
    border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
}
.header-view-pdf .header-view-ppt .header-view-doc{
	margin:0;
	padding:0;
	width:300px;
	color: #000;
}
.view-ppt{
	float: left;
	 padding-top: 10px;
    padding-left:50px;
    width: 414px;
    position:relative;
    left:10px;
    min-height:300px;
      background-color: #fff !important;
       border: 1px solid;
	border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
}

.view-doc{
	float: left;
	 padding-top: 10px;
    padding-left:50px;
    width: 414px;
    position:relative;
    top:10px;
    min-height:300px;
      background-color: #fff !important;
       border: 1px solid;
	border-top-color: rgb(229, 230, 233);
    border-right-color: rgb(223, 224, 228);
    border-bottom-color: rgb(208, 209, 213);
    border-left-color: rgb(223, 224, 228);
} */


/* /* tab1 */ */
.form-style-4{
    width: 450px;
    font-size: 16px;
   /*  background: #495C70; */
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    position:relative;
    color: #000;
     line-height:40px; 

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px;
}
.form-style-4 textarea{
    padding: 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:40px;
   
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #fff;
    border: 1px solid #003666;
    padding-left:10px;
    padding-right:10px;
    border-bottom:5px solid gray;
    border-radius: 5px;
    color: #000;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #003666;
border-bottom:5px solid gray;
border-radius: 5px;
 color: #fff;
}
