@media screen and (max-width: 1780px) {
 /*    .body-cates{
   left: 25% !important;
    }  */
    
}

@media screen and (max-width: 1520px) {
    /* .left-side-nav{
      left:8%;
    }
    .body-cates{
   left: 23.6% !important;
    }  */
   /* .container{
      width:100%;
    }
    */
}
@media screen and (max-width: 1255px) {
   /*  .left-side-nav{
      left:4%;
    }
    .body-cates{
   left: 23.6% !important;
    }  */
   /* .container{
      width:100%;
    }
    */
}
@media screen and (max-width: 1199px) {
    /*search contain*/
.navbar > .container .form-contain ,
.form-group .form-search{
  position: relative;
   /*padding: 10px 15px;*/
   border-style: none;
  margin-top: 1px;
  margin-right: -15px;
  margin-bottom: 1px;
  margin-left: 70px;
  }
 .navbar > .container .form-search{
  position: relative;
  width: 300px;
  background-color: #eee;
  }
  .navbar > .container button[type="submit"]{
    position: absolute;
    bottom: 10px;
    left: 330px;
    border:0;
    width: 50px;
    color: #888;
    display: line;
    background: transparent;
  }
  i.fa-search{
    font-size: 18px;
  }
  
  .navbar > .container button[type="submit"]:hover{
    position: absolute;
    color: #000;
    background: transparent;
  }
 /*////////////////////////////////////////////////////////////*/
 
/*upload,sign in,sign up*/

.upload-signup-signin{
  position: relative;
  float: right;
  right: 140px;
  top: -33px;
  padding: 0px;
  margin-bottom:-30px;
  display: inline-block;
  list-style-type:none;
}
.upload-signup-signin > ul li#upload,li#signin ,li#signup{
  position: relative;
  text-decoration: none;
  display: inline;
}
ul li#upload  > a,li#signin  > a ,li#signup > a{
  color: gray;
   font-size:14px;
  text-decoration: none;
  * background-color:red;
  padding: 5px 10px 5px 7px;
}


.main-menu{
 	position: relative;
 	margin-left: 110px;

 }
  }
@media screen and (max-width: 1160px) {
    
  }
@media screen and (max-width: 1096px) {
 
}

@media screen and (max-width:1023px) {
  .main-menu{
  position: relative;
  margin-left: 0;

 }
  ul.menu-basic li:not(:first-child) {
    display: none;
  }
  ul.menu-basic li.active a{
  border-bottom: 1px dashed #3B5998;
}
  ul.menu-basic li a{
    border-bottom: 1px dashed #fff;
  }
  ul.menu-basic li.icon {
    float: right;
    display: inline-block;
  }
}




@media screen and (max-width:1023px) {
  ul.menu-basic.responsive {position: relative;}
  ul.menu-basic.responsive li.icon {
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  ul.menu-basic.responsive li {
    float: none;
    display: inline;
  }
  ul.menu-basic.responsive li a {
    display: block;
    text-align: left;
  }

.navbar > .container .form-contain ,
.form-group .form-search{
  position: relative;
   /*padding: 10px 15px;*/
   border-style: none;
  margin-top: 2px;
  margin-right: -15px;
  margin-bottom: 2px;
  margin-left: 50px;
  }
 .navbar > .container .form-search{
  position: relative;
  width: 300px;
  background-color: #eee;
  }
  .navbar > .container button[type="submit"]{
    position: absolute;
    bottom: 10px;
    left: 295px;
    border:0;
    width: 50px;
    color: #888;
    display: line;
    background: transparent;
  }
  i.fa-search{
    font-size: 18px;
  }
  
  .navbar > .container button[type="submit"]:hover{
    position: absolute;
    color: #000;
    background: transparent;
  }
 /*////////////////////////////////////////////////////////////*/
 
/*upload,sign in,sign up*/

.upload-signup-signin{
  position: relative;
  float: right;
  right: 110px;
  top: -39px;
  padding: 0px;
  margin-bottom:-30px;
  display: inline-block;
  list-style-type:none;
}
.upload-signup-signin > ul li#upload,li#signin ,li#signup{
  position: relative;
  text-decoration: none;
  display: inline;
}
ul li#upload  > a,li#signin  > a ,li#signup > a{
  color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 7px;
}

}
@media screen and (max-width: 967px){
 .navbar > .container .form-contain ,
.form-group .form-search{
  position: relative;
   /*padding: 10px 15px;*/
   border-style: none;
  margin-top: 2px;
  margin-right: -15px;
  margin-bottom: 2px;
  margin-left: 50px;
  }
 .navbar > .container .form-search{
  position: relative;
  width: 200px;
  background-color: #eee;
  }
  .navbar > .container button[type="submit"]{
    position: absolute;
    bottom: 10px;
    left: 220px;
    border:0;
    width: 50px;
    color: #888;
    display: line;
    background: transparent;
  }
  i.fa-search{
    font-size: 18px;
  }
  
  .navbar > .container button[type="submit"]:hover{
    position: absolute;
    color: #000;
    background: transparent;
  }
 /*////////////////////////////////////////////////////////////*/
 
/*upload,sign in,sign up*/

.upload-signup-signin{
  position: relative;
  float: right;
  right: 110px;
  top: -39px;
  padding: 0px;
  margin-bottom:-30px;
  display: inline-block;
  list-style-type:none;
}
.upload-signup-signin > ul li#upload,li#signin ,li#signup{
  position: relative;
  text-decoration: none;
  display: inline;
}
ul li#upload  > a,li#signin  > a ,li#signup > a{
  color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 7px;
}
 
  
}
@media screen and (max-width: 992px){
	 .left-side-nav{
     left:0%;
    }
	}
	
@media screen and (max-width: 900px){
  ul.menu-basic.responsive {position: relative;}
  ul.menu-basic.responsive li.icon {
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  ul.menu-basic.responsive li {
    float: none;
    display: inline;
  }
  ul.menu-basic.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 766px){
/* .left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
   left: 5% !important;
    } 
    #min-width-sm{
      padding: auto;
      width: 700px;
    }
    .container{
      width: 100%;
    } */
  }

  @media screen and (max-width:886px){
.navbar > .container .form-contain ,
.form-group .form-search{
  position: relative;
   /*padding: 10px 15px;*/
   border-style: none;
  margin-top: 4px;
  margin-right: -15px;
  margin-bottom:45px;
  margin-left: 1px;
  }
 .navbar > .container .form-search{
 display: none;
  }
  .navbar > .container button[type="submit"]{
   display: none;
  }
  i.fa-search{
    font-size: 18px;
  }
  
  .navbar > .container button[type="submit"]:hover{
    position: absolute;
    color: #000;
    background: transparent;
  }
 /*////////////////////////////////////////////////////////////*/
 
/*upload,sign in,sign up*/

.upload-signup-signin{
  position: relative;
  float: right;
  right: 210px;
  top: -40px;
  padding: 0px;
 
  margin-bottom:-30px;
  display: inline-block;
  list-style-type:none;
}
.upload-signup-signin > ul li#upload,li#signin ,li#signup{
  position: relative;
  text-decoration: none;
  display: none;
}
ul li#upload  > a,li#signin  > a ,li#signup > a{
  color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 7px;
}
ul li#upload  > a:hover,li#signin  > a:hover ,li#signup > a:hover{
  color:#eee;

  background-color:#3B5998;
  text-decoration: none;
}
}

  @media screen and (max-width:810px){
 .navbar > .container .form-contain ,
.form-group .form-search{
  position: relative;
   /*padding: 10px 15px;*/
   border-style: none;
  margin-top: 4px;
  margin-right: -15px;
  margin-bottom:20px;
  margin-left: 1px;
  }
 .navbar > .container .form-search{
 display: none;
  }
  .navbar > .container button[type="submit"]{
   display: none;
  }
  i.fa-search{
    font-size: 18px;
  }
  
  .navbar > .container button[type="submit"]:hover{
    position: absolute;
    color: #000;
    background: transparent;
  }
 /*////////////////////////////////////////////////////////////*/
 
/*upload,sign in,sign up*/

.upload-signup-signin{
  position: relative;
  float: right;
  right: 210px;
  top: -40px;
  padding: 0px;
 
  margin-bottom:-30px;
  display: inline-block;
  list-style-type:none;
}
.upload-signup-signin > ul li#upload,li#signin ,li#signup{
  position: relative;
  text-decoration: none;
  display: none;
}
ul li#upload  > a,li#signin  > a ,li#signup > a{
  color: gray;
  text-decoration: none;
  padding: 5px 10px 5px 7px;
}
ul li#upload  > a:hover,li#signin  > a:hover ,li#signup > a:hover{
  color:#eee;

  background-color:#3B5998;
  text-decoration: none;
}

}
@media screen and (max-width: 768px) {
.left-side-nav{
     left:0%;
    /*   z-index: 300; */
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 730px;
    }
    .container{
      width: 100%;
    }
  }
  @media screen and (max-width: 534px) {
    .left-side-nav{
      left:0%;
     /*  z-index: 300; */
    }
    .body-cates{
   left: 0% !important;
    } 
    #min-width-sm{
      width: 525px;
    }
    .container{
      width: 100%;
    }
  }
  /*Nexus 5x*/
@media screen and (max-width: 412px) {
.left-side-nav{
     left:0%;
    /*   z-index: 300; */
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 410px;
    }
    .container{
      width: 100%;
    }
  }

    /*Nexus 5x*/
@media screen and (max-width: 414px) {
.left-side-nav{
     left:0%;
    /*   z-index: 300; */
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 405px;
    }
    .container{
      width: 100%;
    }
  }
/*I Phone 6*/
   @media screen and (max-width: 375px) {
.left-side-nav{
     left:0%;
     /*  z-index: 300; */
    }
    .body-cates{
      /*width: 300px;*/
   left:5% !important;
    } 
    #min-width-sm{
      width: 365px;
    }
    .container{
      width: 100%;
    }
    
  }
/*Galasy S5*/
  @media screen and (max-width: 360px) {
.left-side-nav{
     left:0%;
      /* z-index: 300; */
    }
    .body-cates{
      /*width: 300px;*/
   left:5% !important;
    } 
    #min-width-sm{
      width: 350px;
    }
    .container{
      width: 100%;
    }
  }

/*IPhone 5*/
  @media screen and (max-width: 320px) {
.left-side-nav{
  width: 250px;
  margin-right: 10px;
  position: relative;
  left:1%;
}

    .body-cates{
      /*width: 300px;*/
   left: 5% !important;
    } 
    .container{
      width: 100%;
    }
    
   
    
  }

  @media screen and (max-width: 310px) {
.left-side-nav{
   /*  display: none; */
    }
    .body-cates{
      width: 300px;
   left: 0% !important;
    } 
    #min-width-sm{
      width: 270px;
    }
    .container{
      width: 100%;
    }
  }

