@media screen and (max-width: 1780px) {
    .left-side-nav{
      left:5%;
    }
    .body-cates{
   left: 25% !important;
    } 
   /* .container{
      width:100%;
    } */
    
}

@media screen and (max-width: 1520px) {
    .left-side-nav{
      left:8%;
    }
    .body-cates{
   left: 23.6% !important;
    } 
   /* .container{
      width:100%;
    }
    */
}
@media screen and (max-width: 1255px) {
    .left-side-nav{
      left:4%;
    }
    .body-cates{
   left: 23.6% !important;
    } 
   /* .container{
      width:100%;
    }
    */
}
@media screen and (max-width: 1160px) {
     .left-side-nav{
      left:0%;
      z-index: 300;
    }
    .body-cates{
   left: 21.6% !important;
    } 
    .container{
      width:100%;
    }
  }
@media screen and (max-width: 1096px) {
    .left-side-nav{
      left:0%;
      z-index: 300;
    }
    .body-cates{
   left: 5% !important;
    } 
    .container{
      width:100%;
    } 
}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1023px) {
  .main-menu{
  position: relative;
  margin-left: 0;

 }
  ul.menu-basic li:not(:first-child) {
    display: none;
  }
  ul.menu-basic li.active a{
  border-bottom: 1px dashed #3B5998;
}
  ul.menu-basic li a{
    border-bottom: 1px dashed #fff;
  }
  ul.menu-basic li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */


@media screen and (max-width:1023px) {
  ul.menu-basic.responsive {position: relative;}
  ul.menu-basic.responsive li.icon {
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  ul.menu-basic.responsive li {
    float: none;
    display: inline;
  }
  ul.menu-basic.responsive li a {
    display: block;
    text-align: left;
  }

}
@media screen and (max-width: 900px){
  ul.menu-basic.responsive {position: relative;}
  ul.menu-basic.responsive li.icon {
    position: absolute;
    right: 0;
    color: black;
    top: 0;
  }
  ul.menu-basic.responsive li {
    float: none;
    display: inline;
  }
  ul.menu-basic.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 766px){
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
   left: 5% !important;
    } 
    #min-width-sm{
      padding: auto;
      width: 700px;
    }
    .container{
      width: 100%;
    }
  }
@media screen and (max-width: 768px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 730px;
    }
    .container{
      width: 100%;
    }
  }
  @media screen and (max-width: 534px) {
    .left-side-nav{
      left:0%;
      z-index: 300;
    }
    .body-cates{
   left: 0% !important;
    } 
    #min-width-sm{
      width: 525px;
    }
    .container{
      width: 100%;
    }
  }
  /*Nexus 5x*/
@media screen and (max-width: 412px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 410px;
    }
    .container{
      width: 100%;
    }
  }

    /*Nexus 5x*/
@media screen and (max-width: 414px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left:4% !important;
    } 
    #min-width-sm{
      width: 405px;
    }
    .container{
      width: 100%;
    }
  }
/*I Phone 6*/
   @media screen and (max-width: 375px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left:5% !important;
    } 
    #min-width-sm{
      width: 365px;
    }
    .container{
      width: 100%;
    }
  }
/*Galasy S5*/
  @media screen and (max-width: 360px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left:5% !important;
    } 
    #min-width-sm{
      width: 350px;
    }
    .container{
      width: 100%;
    }
  }

/*IPhone 5*/
  @media screen and (max-width: 320px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left: 5% !important;
    } 
    #min-width-sm{
      width: 320px;
    }
    .container{
      width: 100%;
    }
  }

  @media screen and (max-width: 310px) {
.left-side-nav{
     left:0%;
      z-index: 300;
    }
    .body-cates{
      /*width: 300px;*/
   left: 0% !important;
    } 
    #min-width-sm{
      width: 280px;
    }
    .container{
      width: 100%;
    }
  }

