<<<<<<< HEAD

#searchBox {
	
	width:620px;
*	margin:100px auto 0;
	float:right;
}

#searchBox h1{
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
	background:url('/resources/user/img/search/heading.png') no-repeat center top;
	text-indent:-9999px;
	overflow:hidden;
	height:90px;
}


#searchBox #searchForm{
	
	background-color:#4C5A65;
	padding:10px 10px 5px;
*	margin:80px 0;
	position:relative;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

#searchBox fieldset{
	border:none;
}

#searchBox #searchInputContainer{
	width:420px;
	height:36px;
	background:url("/resources/user/img/search/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#searchBox #s{
	
	border:none;
	color:#888888;
	background:url("/resources/user/img/search/searchBox.png") no-repeat;
	
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:385px;
}

The UL that contains the search type icons */

#searchBox .icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

#searchBox .icons li{
	background:url("/resources/user/img/search/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}

/*Styling each icon */

#searchBox li.web{ width:15px;}
#searchBox li.web.active,
#searchBox li.web:hover{ background-position:left bottom;}

#searchBox li.images{ width:22px; background-position:-18px 0;}
#searchBox li.images.active,
#searchBox li.images:hover{ background-position:-18px bottom;}

#searchBox li.news{ width:14px; background-position:-44px 0;}
#searchBox li.news.active,
#searchBox li.news:hover{ background-position:-44px bottom;}

#searchBox li.videos{ width:17px; background-position:right 0;}
#searchBox li.videos.active,
#searchBox li.videos:hover{ background-position:right bottom;}

#searchBox span.arrow{	
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('/resources/user/img/search/arrow.png') no-repeat;
	left:0;
}


/* The submit button */


#searchBox #submitButton{
	background:url('/resources/user/img/search/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

#searchBox #submitButton:hover{
	background-position:left bottom;
}


/* The Search tutorialzine.com / Search the Web radio buttons */


#searchBox #searchInContainer{
	float:left;
	margin-top:8px;
	width:330px;
}

#searchBox label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:11px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:10px;
	white-space:nowrap;
	/*float:left;*/
}

#searchBox input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Styling the search results */


#searchBox .pageContainer{
	
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	
	
	
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}


#searchBox p.notFound{
	text-align:center;
	padding:0 0 40px;
}


/* Web & news results */

#searchBox .webResult{ text-shadow:1px 1px 0 #586a75;margin-bottom:50px;}
#searchBox .webResult h2{ 
	background-color:#5D6F7B;
	font-size:18px;
	font-weight:normal;
	padding:8px 20px;
	
	 Applying CSS3 rounded corners
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}
#searchBox .webResult h2 b{ color:#fff; }
#searchBox .webResult h2 a{ color:#eee;border:none;}
#searchBox .webResult p{ line-height:1.5;padding:15px 20px;}
#searchBox .webResult p b{ color:white;}
#searchBox .webResult > a{ margin-left:20px;}


/* Image & video search results */


#searchBox .imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
#searchBox .imageResult img{ display:block;border:none;}
#searchBox .imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */

#searchBox #more{
	width:83px;
	height:24px;
	background:url('/resources/user/img/search/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}

#searchBox #more:hover{
	background-position:left bottom;
}



/* Giving Credit */

#searchBox p.credit{
	margin:20px 0;
	text-align:center;
}

#searchBox p.credit a{
	background-color:#4B5A64;
	border:1px solid;
	border-color:#3D4D57 #788E9B #788E9B #3D4D57;
	color:#c0d0d8;
	font-size:10px;
	padding:4px 8px;
	text-shadow:1px 1px 0 #38464F;
}

#searchBox p.credit a:hover{
	background-color:#38464f;
	border-color:#38464f #788E9B #788E9B #38464f;
}

#searchBox a,#searchBox  a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#97cae6;
}

#searchBox a:hover{
	border-bottom:1px dashed transparent;
}

#searchBox .clear{
	clear:both;
=======
#searchBox form input[type=text] {
    width: 60%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchBox form input[type=text]:focus {
    width: 80%;
}
#searchBox
{
	font-family: FontAwesome,NiDA Bayon;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width:50%;
>>>>>>> 6c001f22e7e2dcad76958570bb7d720d13e0ceb7
}